<!DOCTYPE html>
<html lang="en">
<head>
 {{>header}}
</head>
<body>
  <header class='header'>
 {{>navbar}}

<div class="header-content">
<div class="sign-in-form">
 <h1>Sign In Now</h1>
<form action="/login" method="post" name="myform">
<input type="email" name="email" class="input-box " placeholder="Your Email">
<input type="password" name="password" class="input-box " placeholder="Your Password" >
<p class="par"><span><input type="checkbox"  checked=""></span>I agree to the Term of Services</p>
<button type="submit" class="sign-btn" value="sign in" >Sign In</button>
<p>Don't have an account ?<a href="/register">Sign Up</a></p>
 </form>
 </div> 
</div>  
<header>

</body>
</html>