<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
</head>
<body>
  <header class='header'>
{{>navbar}}
<div class="header-content">
<div class="sign-up-form">
 <h1>Sign Up Now</h1>
<form action="/register" method="post">
<input type="email" name="email" class="input-box " placeholder="Your Email">
<input type="password" name="password" class="input-box " placeholder="Your Password" >
<input type="password" name="confirmpassword" class="input-box"  placeholder="Confirm Password" >
<p class="par"><span><input type="checkbox"  checked=""></span>I agree to the Term of Services</p>

<button type="submit" class="sign-btn">Sign Up</button>

<p>Already have an account ?<a href="/login">Sign In</a></p>
 </form>
 </div> 
</div>
  </header>
</body>
</html>
     